*,
::before,
::after {
	box-sizing: border-box;
}

.broder {
  width: 500px;
  height: 500px;
  background-color: coral;
  padding: 100px;
  border: 20px solid black;
}

.flex {
  display: flex;
  gap: 120px;
  align-items: center;
  justify-content: center;
  background-color: pink;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000000;
}

main {
  margin-top: 90px;
}

.logo {
  margin: 0;
  position: relative;
}

.logo:hover {
  color: rgba(0, 0, 0, 0.5);
}

.lista {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  align-items: center;
  justify-content: center;
  position: relative;
}
.lista li:hover {
  color: rgba(0, 0, 0, 0.5);
}

.dropdowndad {
  position: relative;
  margin: 0;
}

.dropdown {
  position: absolute;
  display: grid;
  width: 600px;
  min-height: 100px;
  grid-template-areas:
    ". title title"
    "nav  opt opt"
    "nav  opt opt";
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 200px 1fr 1fr;

  /* top: 20px; left: 25px; */

  /* top: -2000px; */
  transform: translate(0, -100000px);
  border-radius: 10px;
  color: rgba(250, 250, 250, 0);
  border: solid black;
  background-color: antiquewhite;
  /* display: none; */
  color: black;
  /* padding-bottom: 20px;
    padding-left: 10px; */
  /* transition: all 0.3s;    */
}

.columnas {
  display: grid;
  grid-area: opt;
  grid-template-columns: 1fr 1fr;
  /* grid-auto-rows: minmax(10px, auto); */
  grid-column-gap: 20px;
  border-radius: 10px;
  border: solid black;
}

.dropdowndad:hover .dropdown {
  /* display: block; */
  transform: translate(0px, 0px);
  /* transform: translate(10px,2020px); */
  /* animation-delay: 1s; */
  animation-duration: 1s;
  animation-fill-mode: backwards;
  animation-name: subir;
}

@keyframes subir {
  /* from {
        margin-left: 50%;
        width: 100%;
      }
    
      to {
        margin-left: 0%;
        width: 100%;
      } */
  from {
    top: 5em;
  }
  to {
    top: 1.2em;
  }
  /* from{width: 10em;}
        to{width: 24em;} */
}

@keyframes bajar{
  from {
    top: 1.2em;
    
  }
  to {
    top: 5em;

  }
}

@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.titulo {
  grid-area: title;
  padding-left: 10px;
}
.fuera2 {
  margin: 0;
  gap: 0;
  font-size: 12px;
  font-weight: normal;
}
.subtipe {
  grid-area: nav;
  font-weight: bold;
  font-size: 15px;
}

.subtipe .dropdowndad2:hover {
  color: rgba(0, 0, 0, 0.5);
}
.dropdowndad2 {
  position: relative;
}
.dropdown2 {
  position: absolute;
  display: grid;
  left: 200px;
  top: -47px;
  width: 394px;
  height: 135px;
  transform: translate(0, -100000px);
  border-radius: 10px;
  border: solid black;
  font-size: 16px;
  font-weight: normal;
}

.columnas2 {
  display: grid;
  margin-top: 5px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
}

.dropdowndad2:hover .dropdown2 {
  transform: translate(0px, 0px);
  animation-duration: 0.7s;
  animation-name: aparecer;
  background-color: antiquewhite;
  color: black;
}

#toppaddin {
  padding-top: 20px;
}

.fuera {
  margin: 0;
  margin-bottom: 5px;
}

/* .solution{
      position: relative;
      margin: 0;
} */

.boton {
  background-color: rgba(250, 250, 250, 0.7);
  transition: background-color 0.5s;
  
}

.boton:hover {
  background-color: rgba(250, 250, 250, 0);
}
.sesion-dad{
  position: relative;
  z-index: 1;

}

.sesion-box-hidden{
   position: absolute;
  /*transform: translate(0,10000000rem);
  width: 10000rem;
  height: 10000rem;
  left: -500rem; */
  
  animation-name: bajar;
  animation-duration: 0.5s;
  transform: translate(0,10000000rem);
  transition-delay: 0.4s;
  /* background-color: rgba(0, 0, 0, 0.5);
  padding-left: 10000rem; */
}
.sesion{
  position: absolute;
  display: grid;
  grid-template-rows: 4rem repeat(4, 2rem);
  min-width: 20rem;
  min-height: 10rem;
  padding-left: 1rem;
  background-color: rgb(100, 175, 224);
  border: solid black;
  border-radius: 1rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
  /* transform: translate(0,10000000rem); */
  left: -6.5rem;
  z-index: 10;
}
.oscurecer{
position: absolute;
  /* display: none; */
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  left: -200rem;
  top: -200rem;
  width: 10000rem;
  height: 10000rem;
}

.no-oscurecer{
  display: none;
}

/* .boton:focus+.sesion-box-hide{
  transform: translate(0,0);
  animation-name: subir;
  animation-duration: 0.5s;

} */
.sesion-box-show{
  position: absolute;
  transform: translate(0,0);
  animation-name: subir;
  animation-duration: 0.5s;

} 


.no-marg{
  margin-bottom: 0;
  
}

.center{
  background-color: rgb(160, 160, 224);
  width: 20rem;
  height: 20rem;
 left: 50%;
 top: 50%;
 
}
/* .bloque {
  padding: 4rem;
  background-color: blue;
}

.ud {
  font-size: 1em;
}

.box {
  width: 50vw;
  height: 50vh;
  background-color: blue;
  overflow-x: scroll;
  overflow-y: auto;
  position: relative;
}

.inner-box {
  width: 80vw;
  height: 800vh;
  background-color: red;
  position: absolute;
  z-index: 100;
}

.text-container {
  margin: 1rem 0;
  width: 200px;
  border: solid 1px black;
  border-radius: 1rem;
  height: 100px;
}

.text {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100%;
  white-space: nowrap;
}

.daddy {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: pink;
}

.baby {
  position: absolute;
  width: 200px;
  height: 200px;
  top: -400px;
  background-color: aquamarine;
  z-index: 99;
}

.fetus {
  position: absolute;
  width: min(4rem, 20px);
  height: 100px;
  background-color: brown;
  z-index: 200;
} */



.termporaly-drawer-box{
  position: fixed;
  height: 100%;
  min-width: 0;
  top: 5rem;
  z-index: 1;
}
.interaction-area{
  position: fixed;
  height: 100%;
  width: 1rem;
  top: 5rem;
  z-index: 2;
}
.termporaly-drawer{
  position: absolute;
  z-index: 1;
  padding-right: 1rem;
  height: 100%;
  background-color: rgba(250, 250, 250, 0);
  width: 0;
  opacity: 0;
  overflow: hidden;
}
.termporaly-drawer-list{
  display: grid;
  grid-template-rows: repeat(8, 6rem);
  list-style: none;
  padding-left: 0;
text-align: center; 

}
.interaction-area:hover .termporaly-drawer {
width: 15rem;
background-color: bisque;
animation-duration: 1s;
animation-name: drawer;
opacity: 1;

}

@keyframes drawer{
  from {
    margin-right: 100%;
    width: 0;
  }

  to {
    margin-right: 0%;
    width: 15;
  } 
}

.tooltip-option{
  width: 15rem;
  height: 15rem;
  background-color: antiquewhite;
  display: grid;
  padding-left: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
 ;
}
.tooltip-option>div:hover{
  color: gray;
} 
.tooltip-dad{
  position: relative;
}


.tooltip {
  position: absolute;
  border: solid black;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  border-radius: 10%;
  padding: 4px;
  background-color: aquamarine;
  color: black;
  width: 6rem;
  min-height: 3rem;
  z-index: 30;
  transform: translate(0, -100000px);
}

.tooltip-up{
 bottom: 1rem;
  left: -1rem;
}

.tooltip-down{
  bottom: -3rem;
  left: -1rem;
}

.tooltip-right{
  bottom: -1.5rem;
  left: 4rem;
}

.tooltip-left{
  bottom: -1.5rem;
  left: -4rem;
}
.tooltip-dad:hover .tooltip{
  transform: translate(0,0);
  animation-name: aparecer;
  animation-duration: 0.7s;
}

.red {
  background-color: red;
}

.logo {
  transition: all .2s ease-in-out;
}

.hide {
  opacity: 0;
}