
.flex {
    display: flex;
    gap: 120px;
    align-items: center;
    justify-content: center;
    background-color: pink;
  }
  
  .logo {
    margin: 0;
    position: relative;
  }

 
  .logo:hover {
    color:rgba(0, 0, 0, 0.5)
  }

  .lista {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .lista li:hover{
    color: rgba(0, 0, 0, 0.5);
  }
  
  .dropdowndad{
    position: relative;
    margin: 0;
    
}

.dropdown{
    position: absolute;
    display: grid;
    width: 600px;
    min-height: 100px;
    grid-template-areas: ". title title"
                         "nav  opt opt"
                         "nav  opt opt";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 200px 1fr 1fr;
    
    /* top: 20px; left: 25px; */
    
    /* top: -2000px; */
    transform: translate(0, -100000px);
    border-radius: 10px;
    color:rgba(250, 250, 250, 0);
    border: solid black;
    background-color:antiquewhite;
    /* display: none; */
    color: black;
    /* padding-bottom: 20px;
    padding-left: 10px; */
    /* transition: all 0.3s;    */

}


.columnas{
  display: grid;
  grid-area: opt;
  grid-template-columns: 1fr 1fr;
  /* grid-auto-rows: minmax(10px, auto); */
  grid-column-gap: 20px;
  border-radius: 10px;
  border: solid black;
  

}

.dropdowndad:hover .dropdown{
        /* display: block; */
        transform: translate(0px, 0px);
        /* transform: translate(10px,2020px); */
        /* animation-delay: 1s; */
        animation-duration: 1s;
        animation-fill-mode: backwards  ;
        animation-name: subir;
       

 
  
        
    }

@keyframes subir {
      /* from {
        margin-left: 50%;
        width: 100%;
      }
    
      to {
        margin-left: 0%;
        width: 100%;
      } */
      from{top: 5em;}
      to{top: 1.2em;}
        /* from{width: 10em;}
        to{width: 24em;} */
    }

@keyframes aparecer{
  from{ opacity: 0;}
  to{opacity: 1;}
}


.titulo{
  grid-area: title;
  padding-left: 10px;

}
.fuera2{
  margin: 0;
  gap: 0;
  font-size: 12px;
  font-weight: normal;
}
.subtipe{
  grid-area: nav;
  font-weight: bold;
  font-size: 15px;
}

.subtipe .dropdowndad2:hover{
  color: rgba(0, 0, 0, 0.5);
}
.dropdowndad2{
  position: relative;
  
}
.dropdown2{
  position: absolute;
  display: grid;
  left: 200px;
  top: -47px;
  width: 394px;
  height: 135px; 
  transform: translate(0, -100000px);
  border-radius: 10px;
  border: solid black;
  font-size: 16px;
  font-weight: normal
}

.columnas2{
  display: grid;
  margin-top: 5px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 1fr); 
}

.dropdowndad2:hover .dropdown2{
  transform: translate(0px, 0px);
  animation-duration: 0.7s;
  animation-name: aparecer;
  
  background-color:antiquewhite;
  color: black;

#toppaddin{
  padding-top: 20px;
}

.fuera{
  
  margin: 0;
  margin-bottom: 5px;
}



/* .solution{
      position: relative;
      margin: 0;
} */
  

  .boton {
    background-color: rgba(250, 250, 250, 0.7);
    transition: background-color 0.5s;
  }

  .boton:hover{
    background-color: rgba(250, 250, 250, 0);
  }
  
  .bloque {
    padding: 4rem;
    background-color: blue;
  }